<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>WeatherBees</title>
    <link rel = "icon" href = "https://i.ibb.co/Rc14W22/weather03-512.png" 
        type = "image/x-icon">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css"
    />
  </head>

  <body>
    <section class="hero is-warning is-large">
      <div class="hero-body is-grey-light	">
        <div class="container is grey ">
          <h1 class="title is-large">
            What's the weather like?<br/>
            Check it here!!!
          </h1>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container is-fluid">
        <div class="columns">
          <div class="column is-offset-4 is-4">
            <form method="POST">
              {% csrf_token %}
              <div class="field has-addons">
                <div class="control is-expanded">
                  {{ form.name }}
                </div>
                <div class="control">
                  <button type="submit" class="button is-danger is-outlined">
                    Add City
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container is-fluid">
        <div class="columns">
          <div class="column is-offset-4 is-4">
            {% for city_weather in weather_data %}
            <div class="box">
              <article class="media">
                <div class="media-left">
                  <figure class="image is-50x50">
                    <img
                      src="http://openweathermap.org/img/w/{{city_weather.icon}}.png"
                      alt="Image"
                    />
                  </figure>
                </div>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <span class="title">{{ city_weather.city }}</span>
                      <br />
                      <span class="subtitle"
                        >{{ city_weather.temperature }}° C</span
                      >
                      <br />
                      {{ city_weather.description }}
                    </p>
                    <form action="/delete/{{ city_weather.id }}" method="POST">
                      {% csrf_token %}

                      <button type="submit" class="button is-link">
                        Delete City
                      </button>
                    </form>
                  </div>
                </div>
              </article>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>WeatherBees</strong> by <a href="https://github.com/aruntemme/">Arun</a>.
  </div>
</footer>
  </body>
</html>